#nprogress .bar {
  background: '#1237b3' !important; //自定义颜色
}

.textEllipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.textEllipsis3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.grecaptcha-badge {
  display: none !important;
}
.textlg {
  background: linear-gradient(to bottom right, #1237b3 0%, #3370ff 40%, #4e83fd 80%, #85b1ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rjsf {
  font-family: 'Arial', sans-serif;
  margin: 20px;
  margin-top: 10px;
}

label {
  font-size: 14px;
  color: rgba(15, 12, 43, 1);
}

.rjsf input {
  border: 1px solid;
  border-color: var(--chakra-colors-borderColor-low);
  height: 36px;
  width: 88%;
  padding-left: 20px;
  margin-bottom: 20px;
}

.rjsf input:focus {
  border-color: var(--chakra-colors-primary-500);
  box-shadow: 0px 0px 0px 2.4px rgba(51, 112, 255, 0.15);
  background-color: white;
}

#root_fastgpt_feConfigs_switches,
#root_fastgpt_feConfigs_images {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
