# 二级路由
NEXT_PUBLIC_BASE_URL=

DB_MAX_LINK=5
# token
TOKEN_KEY=dfdasfdas
# root key, 最高权限
ROOT_KEY=fdafasd

# OneAPI 的地址
OPENAI_BASE_URL=
CHAT_API_KEY=
# 沙盒内网地址
SANDBOX_URL=http://xxxxx:3000
# Plguin URL 插件地址
PLUGIN_URL=

# mongodb
MONGODB_URI=mongodb://username:password@0.0.0.0:27017/fastgpt
# pg
PG_URL=postgresql://username:password@host:port/postgres
# milvus
MILVUS_ADDRESS=
MILVUS_TOKEN=

# FastGPT 前端地址, 文件前缀，从 admin 打开前台。
FE_DOMAIN=

# 账单更新频率
UPDATE_BALANCE_DELAY=5000

# 开票通知（飞书 webhook 和对应按键的回调地址）
INVOICE_FEISHU_WEBHOOK_URL=
INVOICE_FEISHU_WEBHOOK_CALLBACK_URL=

# 日志等级: debug, info, warn, error
LOG_LEVEL=debug
STORE_LOG_LEVEL=warn

# 发送 SMS 的代理地址
SMS_PROXY=

# 网络爬虫最大页面数
MAX_CRAWL_PAGE=500
# 是否启用动态页面爬虫, 默认关闭
CRAWL_DYNAMIC_WEBSITE=false
# 爬虫过滤域名 (使用半角逗号分割多个域名)
CRAWL_EXCLUDE_LIST=.edu.cn,.gov.cn

# 百度转化跟踪
BAIDU_CONVERSION_TOKEN=
BAIDU_CONVERSION_BASE_URL=


# 是否展示 Git 信息，不填写的话就不展示
SHOW_GIT=1
# 清理免费用户
WARN_FREE_ACCOUNT=false
CLEAR_FREE_ACCOUNT=false

# 飞书私有化地址
FEISHU_BASE_URL=https://open.feishu.cn
# 语雀知识库默认根地址
YUQUE_DATASET_BASE_URL=https://www.yuque.com

# 成员自动同步
SYNC_MEMBER_CRON="0 0 * * *" # Cron 表达式，每天 0 点执行

# Workorder 工单相关
WORKORDER_BASE_URL=
WORKORDER_JWT_SECRET= # 工单 JWT 密钥 要和 Workorder 的 JWT_SECRET 一致

# 安全
# 启用内网 IP 检查
CHECK_INTERNAL_IP=false

# 外部用户系统相关配置
# EXTERNAL_USER_SERVICE_BASE_URL=http://fastgpt-sso-service:3030
# EXTERNAL_USER_SERVICE_AUTH_TOKEN=xxxxxx # 同步用户和组织时的鉴权Token
