DB_MAX_LINK=5
# token
TOKEN_KEY=dfdasfdas
# root key, 最高权限
ROOT_KEY=fdafasd

# mongodb
MONGODB_URI=mongodb://username:password@0.0.0.0:27017/fastgpt
# pg
PG_URL=postgresql://username:password@host:port/postgres
# milvus
MILVUS_ADDRESS=
MILVUS_TOKEN=

# 沙盒内网地址
SANDBOX_URL=http://xxxxx:3000

# 账单更新频率
UPDATE_BALANCE_DELAY=5000
# OneAPI 的地址
ONEAPI_URL=
CHAT_API_KEY=

# 开票通知（飞书 webhook 和对应按键的回调地址）
INVOICE_FEISHU_WEBHOOK_URL=
INVOICE_FEISHU_WEBHOOK_CALLBACK_URL=

# SSO 配置，参考 SSO 使用文档:
# https://fael3z0zfze.feishu.cn/wiki/Ajtxw1tQ8i61c4kxXBCcL7hwnpc?from=from_copylink
SSO=

# 日志等级: debug, info, warn, error
LOG_LEVEL=debug
STORE_LOG_LEVEL=warn

# 发送 SMS 的代理地址
SMS_PROXY=
