.rjsf{
  font-family: 'Arial', sans-serif;
  margin: 20px;
  margin-top: 10px;
}

label {
  font-size: 14px;
  color: rgba(15, 12, 43, 1);
}

.rjsf input {
  margin-bottom: 20px;
  height: 36px;
  font-size: 14px;
  border: 1px solid rgba(206, 213, 228, 1);
  color: rgba(15, 12, 43, 1);
  outline: none;
  padding-left: 20px;
  width: 88%;
}

.rjsf input:focus {
  border: 1px solid rgba(15, 12, 43, 0.5);
}

#root_fastgpt_feConfigs_switches,
#root_fastgpt_feConfigs_images {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
}
