.rjsf{
  font-family: 'Arial', sans-serif;
  margin: 20px;
  margin-top: 10px;
}

label {
  font-size: 14px;
  color: rgba(15, 12, 43, 1);
}

input {
  margin-bottom: 20px;
  height: 36px;
  font-size: 14px;
  border: 1px solid rgba(206, 213, 228, 1);
  color: rgba(15, 12, 43, 1);
  outline: none;
  padding-left: 20px;
  width: 88%;
}

input:focus {
  border: 1px solid rgba(15, 12, 43, 0.5);
}

button {
  background-color: #007bff;
  color: #fff;
  width: 100%;
}

button:hover {
  background-color: #0069d9;
}

#root_fastgpt_FeConfig_switches,
#root_fastgpt_FeConfig_images {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
