# 服务提供商
SSO_PROVIDER=test
# 第三方跳转地址，填写完整地址，后续会自动给带上 state
SSO_TARGET_URL=https://sso.test.com?client_id=xxx

# 零跑 - leapmotor
# LEAPMOTOR_AUTH_URL=xxx
# LEAPMOTOR_GET_USER_INFO_URL=xxx
# LEAPMOTOR_CLIENT_ID=xxx
# LEAPMOTOR_CLIENT_SECRET=xxx
# LEAPMOTOR_REDIRECT_URI=xxx

# 中国航发 - aecc
# SSO_PROVIDER=xxx/CAS/login
# AECC_SERVICE_VALIDATE_URL=xxx/CAS/serviceValidate
